.card{
    height: fit-content;
}

section {
    padding: 64px 24px;

}

/* hero section */

.about-hero-section {
    padding: 144px 24px 64px;
}

.about-hero-section .play-btn{
    padding: unset;
    width: 72px;
    height: 72px;
}

/* about review section */

.about-review-section{
    padding: 24px;
    background-color: #fff;
}

.about-review-section .marquee {
    flex: 1;
    gap: 32px;
    overflow: hidden;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 12.5%, rgb(0, 0, 0) 87.5%, rgba(0, 0, 0, 0) 100%);
}

.about-review-section .marquee-content {
    gap: 32px;
}

.about-review-section .head{
    width: 100%;
}

.about-review-section .title h6{
    font-size: 18px;
}

/* about-stats-section */

.about-stats-section .btn{
    padding: 12px 16px 12px 20px;
}

.about-stats-section .card{
    height: fit-content;
}

.about-stats-section .card .heading{
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -1.61px;
}

.about-stats-section .card .heading>span{
    color: #fa6317;
}

.about-stats-section .card .subheading{
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

/* about content section */

.about_content_section{
    padding: 80px 24px;
}

.about_content_section .container{
    max-width: 1008px;
}

.about_content_section .heading h3{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.89px;
}

.about_content_section .shape{
    width: 20px;
    height: 20px;
}

.about_content_section .user{
    width: max-content;
    height: 320px;
}

.about_content_section .avatar{
    width: 88px;
    height: 88px;
}

.about_content_section .user_details h5{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.47px;
}

.about_content_section .user .sign{
    width: 216px;
    height: 48px;
}

.about_content_section .text p{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.33px;
}

/* about company values section */

.about_company_values_section{
    padding: 80px 24px;
    overflow: hidden;
}

.about_company_values_section .head-content{
    max-width: 570px;
}

.about_company_values_section .card{
    background: #fff;
    border: none;
    padding: 32px;
}

.about_company_values_section .card h6{
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -0.26px;
    color: #050505;
}

.about_company_values_section .card p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.09px;
}

.about_company_values_section .background-big-image{
    top: 0;
    left: 0;
    max-width: none;
    transform: none;
    width: 100%;
}

/* our culture section */

.our_culture_section .container{
    max-width: 1074px;
}

.our_culture_section .heading{
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.69px;
}

.our_culture_section .video-container{
    height: 384px;
    width: 100%;
}

.our_culture_section .subheading{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.47px;
}

.our_culture_section .left-section .content-wrapper{
    height: 496px;
}

.our_culture_section .card{
    background: #fff;
    border: none;
    padding: 0px;  
}

.our_culture_section .card h1{
    font-size: 64px;
    line-height: 72px;
    letter-spacing: -1.61px;
    color: #050505;
}

.our_culture_section .card h1>span{
    color: #fa6317;
}

/* about_team_section */

.about_team_section{
    padding: 80px 24px;
    overflow: hidden;
}

.about_team_section .head .description p{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.33px;
}

.about_team_section .card-container{
    padding-bottom: 40px;
}

.about_team_section .card{
    background-color: #fff;
    padding: 24px;
}

.about_team_section .card h6{
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -0.26px;
    color: #050505;
}

.about_team_section .user_details p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.09px;
}

.about_team_section .card .description p{
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: #050505;
}

.about_team_section .avatar-wrap{
    top:0;
    transform: translateY(-50%);
}

.about_team_section .avatar{
    width: 72px;
    height: 72px;
}

/* faq section */

.faq_section .head-content{
    max-width: none;
}

.faq_section .head-content .description{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.33px;
}

.faq_section .foot{
    overflow-x: clip;
}

.tab_container{
    padding: 4px;
    background-color: #fff;
    border-radius: 999px;
    box-shadow: rgba(5, 5, 5, 0.04) 0px 8px 32px 0px, rgb(244, 241, 235) 0px 0px 0px 1px;    
    width: fit-content;
}

.tab_container .tab{
    padding: 8px 32px;
    border-radius: 999px;
    opacity: 0.8;
    cursor: pointer;
    /* background: #fff; */
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.tab_container .tab>span{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.18px;
}

.tab_container .icon{
    height: 24px;
    width: 24px;
}

.tab.active_tab{
    opacity: 1;
}

.tab.back_tab{
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0px;
    right: 0px; 
    background: rgb(248,246,242);
    opacity: 1;
    z-index: 0;
}

.faq_container{
    width: 520px;
    background: #fff;
    transition: all 0.4s ease-in-out;
}

.faq_container .custom-border{
    border-radius: 12px;
}

.faq{
    gap: 0;
    padding: 16px 24px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.faq_container .faq h6{
    font-size: 18px;
    line-height: 21.6px;
    letter-spacing: -0.26px;
    color: #050505;
}

.faq_container .faq .open_icon{
    opacity: 1;
}

.faq_container .faq .close_icon{
    opacity: 0;
}

.faq_container .faq .answer{
    display: block;
    max-height: 0px;
    height: fit-content;
    transition: all 0.4s ease-in-out;
}

.faq_container .faq p{
    opacity: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.09px;
    transition: all 0.3s ease-in-out;
}

.faq_container .icons{
    width: 24px;
    height: 24px;
}

.faq_container .icons .icon{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s ease-in-out;
}



/* .tab.active_tab{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(248,246,242);
    z-index: -1;
    top: 0;
    left: 0;
    border-radius: 999px;
    transition: all 0.3s ease-in-out;
} */

.faq_tab_in{
    left: 0px;
    transform: scale(1);
}

.faq_tab_out{
    transform: scale(0);
    left: 100%;
}

.active_faq{
    background-color: rgb(248,246,242);
    gap: 12px;
}

.faq.active_faq .answer{
    max-height: 48px;
}

.faq.active_faq .answer > p{
    opacity: 1;
}

.faq.active_faq .open_icon{
    /* display: none; */
    opacity: 0;
}

.faq.active_faq .close_icon{
    /* display: block; */
    opacity: 1;
}

@keyframes slide_right {
    from {
        position: relative;
        left: 0px;
    }
    to{
        left: 100%;
        position: absolute;
    }
}

@media (min-width : 1200px) {

    .navbar-section {
        position: absolute;
        width: 100%;
        top: .8rem;
    }

    .full-width{
        width: fit-content;
    }

    .navbar-section .menu{
        gap: 1.2rem;
        margin: 0;
        width: fit-content;
        overflow: visible;  
    }

    /* hero section */

    .about-hero-section{
        padding: 192px 24px 80px;
    }

    .about-hero-section .hero-content-header h1{
        font-size: 6.4rem;
    }

    .about-hero-section .hero-content-header .rotate-pattern{
        left: 332px;
    }
}

@media (min-width : 992px){

    section {
        padding: 80px 24px;
    }

    .about-hero-section {
        padding: 196px 24px 80px;
    }

    /* about review section */
    .about-review-section .head{
        width: 280px;
    }

    .about-review-section .container{
        gap: 136px !important;
    }
    
}

@media (min-width : 768px) {
    
}