.pricing_container{
    width: 100%;
    height: 500px;
}

.pricing_container .card_container{
    position: absolute;   
    width: 100%; 
    top: 0;
    bottom: 0;
    transition: all 0.4s ease-in-out;
    overflow-x: scroll;
}

.pricing_tab_in{
    transform: scale(1);
    opacity: 1;
    z-index: 1;
}

.pricing_tab_out{
    transform: scale(0);
    opacity: 0;
    z-index: 0;
}

.pricing_container .card{
    background: #fff;
    padding: 24px;
    /* overflow: hidden; */
}

.pricing_container .card.pro_card{
    background: rgb(248, 246, 242);
    padding: 24px;
    overflow: hidden;
}

.pricing_container .card .pattern{
    width: 56px;
    height: 56px;
    border-radius: unset;
}

.pricing_container .card .checkpoints p{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.09px;
}

.pricing_container .card .btn{
    width: 100%;
}

/* Glide for Enterprise */

.glide_for_enterprise{
    padding: 72px 24px;
}

.glide_for_enterprise .container{
    max-width: 1008px;
}

.glide_for_enterprise .card{
    padding: 48px 24px;
}

.glide_for_enterprise .card .left{
    max-width: 440px;
}
.glide_for_enterprise .card .rigth{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
}

.glide_for_enterprise .card .background-image{
    bottom: 0;
}

.glide_for_enterprise .custom-badge{
    padding: 12px 16px 12px 12px;
    border-radius: 8px;
    background: #fff;
}

/* Spectra Plans Section */
.spectra_plans_section{
    padding: 96px 24px;
}

.spectra_plans_section .pricing_container{
    height: 182px;
    overflow: hidden;
}

.spectra_plans_section .pricing_container .plans_tab{
    position: absolute;
    left: 0px;
    right: 0px;
}

.spectra_plans_section .pricing_container .plans_tab.plans_tab_in{
    top: 0px;
    bottom: 0px;
    opacity: 1;
    z-index: 1;
}

.spectra_plans_section .pricing_container .plans_tab.plans_tab_out{
    top: 100%;
    bottom: 0px;
    opacity: 0;
    z-index: 0;
}

.spectra_plans_section .head-content{
    max-width: 480px;
    width: 100%;
}

.spectra_plans_section .pattern_container{
    max-width: 864px;
    width: 100%;
}

.spectra_plans_section .tab_container{
    border-radius: 8px;
}
.spectra_plans_section .spectra_plans_tab_controller{
    border-radius: 6px;
}

.spectra_plans_section .spectra_plans_tab_controller.active_tab{
    background: rgb(248, 246, 242);
    opacity: 1;
}

.spectra_plans_section .custom_table .table_row{
    background:#fff;
}

.spectra_plans_section .custom_table .table_data{
    padding-block: 32px;
    width: 25%;
}

.spectra_plans_section .custom_table .table_data1{
    flex: 2 0 auto;
}
.spectra_plans_section .custom_table .light-border{
    border-top: none;
    border-inline: none;
}

@media (min-width : 992px) {
    
    .glide_for_enterprise .about-review-section .container{
        gap: 136px !important;
    }

    .glide_for_enterprise .card{
        padding: 64px;
    }

}

@media (min-width : 1200px) {

    .pricing_container .card_container{
        overflow: hidden;
    }

    .glide_for_enterprise{
        padding: 96px 24px;
    }
}

