.product_hero_section{
    padding: 144px 24px 80px;
}

.product_hero_section .head-content .description{
    max-width: 416px;
}

.product_hero_section h1{
    font-size: 5.2rem;
    line-height: 72px;
    letter-spacing: -1.61px;
}

.head .head-content .description{
    font-size: 1.6rem;
    line-height: 32px;
    letter-spacing: -0.18px;
}

.pattern_container{
    top: 248px;
    width: 100%;
}

.pattern_container .rotate-pattern{
    width: 48px;
    height: 48px;
}

.product_hero_section .foot-content{
    max-width: 800px;
    width: 100%;
    overflow: visible;
}

.product_hero_section .foot-content .image_wrapper{
    width: 100%;
    max-height: 500px;
    height: 100%;
    z-index: 5;
}

.decor{
    position: absolute;
    width: 140px;
    height: 90%;
    top: 32px;
    z-index: -1;
}

.left_decor{
    left: -48px;
    transform: rotate(4deg);
    animation: rotate4 1.5s linear;
}

@keyframes rotate4 {
    0%{
        left: 0;
        transform: rotate(0);
    }
    20%{
        left: -48px;
        transform: rotate(4deg);
    }
    40%{
        left: -16px;
        transform: rotate(2deg);
    }
    60%{
        left: -48px;
        transform: rotate(4deg);
    }
    80%{
        left: -32px;
        transform: rotate(3deg);
    }

    100%{
        left: -48px;
        transform: rotate(4deg);
    }

}

.right_decor{
    right: -48px;
    transform: rotate(-4deg);
    animation: rotate-4 1.5s linear;
}

@keyframes rotate-4 {
    0%{
        right: 0;
        transform: rotate(0);
    }
    20%{
        right: -48px;
        transform: rotate(-4deg);
    }
    40%{
        right: -16px;
        transform: rotate(-2deg);
    }
    60%{
        right: -48px;
        transform: rotate(-4deg);
    }
    80%{
        right: -32px;
        transform: rotate(-3deg);
    }

    100%{
        right: -48px;
        transform: rotate(-4deg);
    }

}

/* .aos-animate.rotate-4 {
    animation: rotate-4 1.5s linear;
} */

.decor .pattern_wrapper{
    position: absolute;
    width: 46px;
    height: 32px;
    left: -49px;
    bottom: -30px;
}

/* product feature section */

.product_feature_section{
    padding: 64px 24px;
    background: rgb(248, 246, 242);
}

/* product content section */

.product_content_section{
    padding: 96px 24px 72px;
}

.product_content_section .card-container{
    max-width: unset;
    width: 100%;
}

.product_content_section .card-container .card{
    padding: 64px 40px 40px;
    flex: 1 0 0px;
}

.product_content_section .card-container .card .pattern {
    position: absolute;
    left: 40px;
    top: 0px;
    transform: translateY(-50%);
}

.product_content_section .card-container .card .image-wrapper {
    bottom: 0px;
    width: 420px;
    height: 440px;
    position: absolute;
    right: 0;
}

.product_content_section .right-section{
    height: auto;
    flex-wrap: unset;
    max-width: unset;
    width: 100%;
}

.product_content_section .right-section .heading{
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.89px;
    max-width: unset;
    width: 100%;
}

/* Provide powerful solutions at all times section*/

.provide_powerful_section{
    padding: 72px 24px;
}

.provide_powerful_section .head-content{
    max-width: 592px;
}

.product_section .pattern_container{
    top: 51%;
    width: fit-content;
}

.product_section .pattern_container.left{
    left: -136px;
}

.product_section .pattern_container.right{
    right: -136px;
}

.provide_powerful_section .foot-content{
    width: 100%;
    height: fit-content;
    overflow: visible;
}

/* Our platform is built to save */

.our_platform_section .head-content{
    max-width:800px;
}

.our_platform_section .foot-content{
    overflow: visible;
    flex: 1;
}

.our_platform_section .foot-content .pattern_container{
    background-color: rgb(248, 246, 242);
    max-width: 70%;
    top: -50px;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
    border-radius: 10px;
}

.our_platform_section.product_section .pattern_container.left{
    left: 0px;
    bottom: 0px;
}
.our_platform_section.product_section .pattern_container.right{
    right: 0px;
    bottom: 0px;
}

.our_platform_section .pattern_container .pattern{
    width: 416px;
}

.our_platform_section .card{
    border: 1.5px solid rgb(5, 5, 5);
    padding: 32px 40px;
}


@media (min-width:1200px) {

    .product_hero_section{
        padding: 144px 24px 80px;
    }

    .product_hero_section h1{
        font-size: 6.4rem;
    }

    .product_content_section .card-container{
        max-width: 488px;
        gap: 72px !important;
    }

    .product_content_section .right-section{
        max-width: 550px;
    }

    .product_content_section .right-section .heading{
        max-width: unset;
    }
}

@media (min-width:992px) {

    .product_content_section{
        padding: 112px 24px 96px;
    }

    .provide_powerful_section{
        padding: 96px 24px;
    }
    
    .product_content_section .card-container{
        gap: 32px !important;
    }    

}

