@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap');

html{
    font-size: 62.5%;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0px;
}

p{
    font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  font-size: 16px;
  letter-spacing: -0.18px;
  line-height: 32px;
  margin: 0px;
}

.container{
    padding: 0px;
    max-width: 1200px;
    width: 100%;
}

/* .col-6{
    max-width: 580px !important;
} */

.custom-border{
    border: 1.5px solid rgb(5, 5, 5);
    border-radius: 24px;
    box-shadow: rgb(5, 5, 5) 0px 3px 0px 0px;
}

.light-border{
    border: 1.2px solid rgb(234,234,235);
}

section{
    padding: 96px 24px;
}

li {
    list-style-type: none;
}

a{
    font-size: 1.6rem;
    font-weight: 400;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    color: rgba(40, 41, 42, 1);
}
img{
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

video{
    border-radius: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.gap-4{
    gap: 4px !important;
}

.gap-6{
    gap: 6px !important;
}

.gap-8{
    gap: 8px !important;
}

.gap-12{
    gap: 12px !important;
}
.gap-16{
    gap: 16px !important;
}

.gap-24{
    gap: 24px !important;
}

.gap-32{
    gap:32px !important;
}
.gap-40{
    gap:40px !important;
}

.gap-48{
    gap: 48px !important;
}

.gap-56{
    gap: 56px !important;
}

.gap-72{
    gap: 72px !important;
}

.gap-80{
    gap: 80px !important;
}

.gap-124{
    gap: 124px !important;
}

.gap-136{
    gap: 136px !important;
}

.gap-140{
    gap:140px !important;
}

.full-width{
    width: 100%;
}

.heading_24{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.47px;
}

.heading_20{
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: -0.33px;
}

.heading_40{
    font-size: 4rem;
    font-weight: 500;
    letter-spacing: -0.89px;
    line-height: 48px;
}

.text_14{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.09px;
}

.text_16{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -0.18px;
}

.text_bold{
    font-weight: 500;
}

.capsule-border, .active-menu{
    border: 1px solid rgb(5, 5, 5);
    border-radius: 999px;
    box-shadow: rgb(5, 5, 5) 0px 2px 0px 0px;
}

.btn{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    padding: 12px 16px 12px 20px;
    line-height: 24px;
    box-shadow: rgb(5, 5, 5) 0px 2px 0px 0px;
    text-align: center;
    letter-spacing: -0.18px;
    border: 1px solid rgb(5, 5, 5);
    width: fit-content;
    border-radius: 999px;
    background-color: #fff;
}

.btn i{
    width: 24px;
}

.btn:hover{
    background-color: rgb(248, 246, 242);
    border: 1px solid rgb(5, 5, 5);
}

.orange-btn{
    background: rgba(250, 99, 23, 1);
    box-shadow: rgba(211, 86, 23, 1) 0px 2px 0px 0px;
    border: none;
    color: white;
}

.orange-btn:hover{
    background: rgb(211, 86, 23);
    color: white;
    border: none;
    transition: all 0.3s ease-in-out;
}

.background-image{
    position: absolute;
    top: 0;
    right: 0;
}

.background-big-image{
    z-index: -1;
}

/* Navbar section */

.navbar-section {
    position: fixed;
    padding: 2.4rem;
    font-size: 1.6rem;
    background-color: #fff;
    width: 100%;
    transition: 0.3s all ease-in-out;
    z-index: 999;
}

.navbar-section .logo-section{
    background: #fff;
    z-index: 1;
}

.navbar-section .container .nav{
    gap: 2.4rem;
}

.navbar-section .menu{
    display: none;
    padding: 0px;
    gap: 1.2rem;
    margin: 0;
    height: fit-content;
    transition: 0.3s display ease-in-out;
}


.navbar-section li {
    padding: 4px 16px;
    line-height: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    letter-spacing: -0.18px;
}

.hover {
    background: rgba(247, 247, 247, 1);
    border: 0px solid rgb(0, 0, 0, 0);
    border-radius: 999px;
    box-shadow: rgb(234, 234, 235, 1) 0px 2px 0px 0px;
}

.navbar-section .login .btn{
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.navbar-section .login:hover .orange-btn{
    background: rgb(211, 86, 23);
    color: white;
    transition: all 0.3s ease-in-out;
}

.navbar-section li a{
    text-transform: capitalize;
}

.navbar-section .menu-toggler{
    font-size: 28px;
    font-weight: 400;
}

/* hero section */

.hero-section{
    padding: 144px 24px 112px;
    position: relative;
}

.hero-section .hero-left-subsection{
    gap: 72px;
}

.hero-section .hero-content-wrapper{
    gap: 32px;
}

.hero-section .hero-content{
    gap: 24px;
    height: min-content;
}

.hero-section .hero-content-header{
    gap: 16px;
}

.hero-section .hero-content-header p{
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  color: #fa6317;
  margin: 0px;
  letter-spacing: 1px;
}

.hero-section .hero-content-header h1{
    font-size: 5.2rem;
    letter-spacing: -1.68px;
    margin: 0;
    line-height: 72px;
    color: #050505;
}

.rotate-pattern{
    bottom: 0;
    right: 0;
    width: 64px;
    height: 64px;
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    overflow: hidden;
}

@keyframes rotate {
    
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.hero-section .hero-content .hero-content-description{
    font-size: 1.6rem;
    line-height: 32px;
    width: 416px;
    letter-spacing: -.1px;
}

.hero-section .hero-button-group{
    gap: 16px;
}


.hero-section .hero-button-group .btn{
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  padding: 12px 16px 12px 20px;
  line-height: 24px;
}

.hero-section .hero-button-group .btn div{
    gap: 6px;
}

.hero-section .scroll-down-text{
    font-size: 1.4rem;
    gap: 6px;
}

.hero-section .scroll-down-text p{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.4rem;
    color: #686a6e;
    margin: 0px;
    letter-spacing: -.18px;
}

.hero-section .hero-right-subsection img{
    border-radius: inherit;
}
.hero-section .hero-right-subsection .hero-tilt-image{
    width: 376px;
    height: 390px;
    border-radius: 28px;
    flex: none;
    height: 390px;
    left: 134px;
    overflow: visible;
    position: absolute;
    top: 120px;
    /* transform: rotate(-8deg); */
    z-index: 1;
}

.hero-section .hero-right-subsection .hero-tilt-image .custom-border{
    box-shadow: 0 3.5px 0 0 #050505;
}

.hero-section .hero-right-subsection .tilt-image-pattern{
    bottom: -58px;
    flex: none;
    height: 32px;
    left: -18px;
    overflow: visible;
    position: absolute;
    transform: perspective(1200px);
    width: 46px;
}

.hero-section .hero-right-subsection .hero-right-pattern{
    background-color:  #ffffff;
    border-radius: 99px;
    bottom: 80px;
    box-shadow: 0 2px 0 0 #050505;
    gap: 10px;
    height: 96px;
    left: -36px;
    overflow: hidden;
    position: absolute;
    width: 96px;
    z-index: 1;
}

.hero-section .hero-right-subsection .hero-right-pattern-icon{
    width: 52px;
    height: 52px;
}

.hero-section .background-image{
    position: absolute;
    top: 0;
    right: 0;
    height: 865px;
    width: 1440px;
    z-index: -1;
}

/* Company Section */
.company-section{
    padding: 72px 24px;
    background-color: rgb(248, 246, 242);
}

.company-section .container{
    gap: 32px;
}

.company-section .head{
    gap: 24px;
}

.company-section .head h4{
    font-size: 32px;
    letter-spacing: -0.69px;
}

.company-section .head h4 > span{
    color: #fa6317;
}

.learn-more{
    display: block;
    font-size: 14px;
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-optical-sizing: auto;
    font-style: normal;
    letter-spacing: -.18px;
    gap: 10px;
    padding: 8px 12px 8px 16px;
    width: max-content;
    height: min-content;
}

.company-section .company-images{
    gap: 24px;
}

.company-section .foot .outer-image-wrapper{
    padding: 12px 32px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0px;
    background-color: #fff;
}

.company-section .foot .inner-image-wrapper{
    width: 98px;
    height: 20px;
}

.company-section .foot .capsule-border{
    border-radius: 12px;
    border-width: 1px;

}

/* Content section */
.content-section{
    padding: 112px 24px;
}

.subtitle{
    font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1.4rem;
  color: #fa6317;
  text-transform: uppercase;
  margin: 0px;
  letter-spacing: 1px;
}

.heading{
    font-size: 5.6rem;
    letter-spacing: -1.25px;
    margin: 0;
    line-height: 64px;
    color: #050505;
}

.description{
    font-size: 1.6rem;
    line-height: 32px;
    letter-spacing: -.1px;
    z-index: 0;
}

.content-section .description span{
    padding: 0px 8px;
    background-color: rgb(248, 246, 242);
    line-height: 32px;
    border-radius: 48px;
}

.workbox-image{
    width: 46px;
}

.workbox .image-wrapper{
    width: 26px;
}

.workbox h3{
    font-size: 40px;
}

.workbox h3 > span{
    color: #fa6317;
}

.workbox .content-description{
    font-size: 1.4rem;
}

.content-section .right-section{
    height: 100%;
}

.content-section .pattern{
    height: 72px;
    width: 72px;
    background-color: #fff;
    border-radius: 50%;
    top: 46px;
    left: 72px;
}
.content-section .pattern .icon{
    height: 42px;
    width: 42px;
}

.content-section .right-section-wrapper{
    height: 308px;
    border-radius: 20px;
    background-color: rgb(248, 246, 242);
    width: 510px;
}

.content-section .right-section .frame-1 {
    height: 308px;
    right: 32px;
    top: -32px;
}

.content-section .right-section .frame-2 {
    height: 242px;
    left: 32px;
    top: 166px;
}

/* core features section */

.core-features-section .heading{
    font-size: 4rem;
    line-height: 48px;
    letter-spacing: -0.89px;
}

 .card-container{
    height: min-content;
}

 .card{
    padding: 48px 40px;
    background-color: rgb(248, 246, 242);
    height: 440px;
}

 .card .pattern{
    width: 62px;
    height: 62px;
    border-radius: 50%;
}
 .card .pattern .icon{
    width: 28px;
    height: 28px;
}

 .card .heading{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.47px;
}
 .card .description{
    line-height: 32px;
    letter-spacing: -0.18px;
}

.card .social_icon{
    width: 24px;
    height: 24px;
}

 .checkpoints .points{
    gap: 6px;
}

 .checkpoints .icon-wrapper{
    width: 24px;
    height: 24px;
}

 .checkpoints .icon-wrapper .icon{
    width: 17px;
    height : 17px;
    background: #fa6317;
    color: white;
    font-size: 10px;
    border-radius: 50%;
}

 .checkpoints p{
    font-size: 1.4rem;
    letter-spacing: -0.09px;
    line-height: 24px;
}

.core-features-section .background-image{
    height: 440px;
    width: 420px;
}

/* contetnt section second */

.text h6{
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.26px;
}

.content-section .sub-content{
    max-width: 384px;
    width: 100%;
}

.content-section .sub-content .workbox-image{
    width: 40px;
    height: 40px;
}
.content-section .sub-content .workbox-image .image-wrapper{
    width: 24px;
    height: 24px;
}

.learn-more i {
    width: 24px;
}

.video-container{
    height: 428px;
    width: 592px;
}

.video-container .play-btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 16px 24px 16px 16px;
}

.video-container .play-btn p{
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 24px;
    font-optical-sizing: auto;
}

.video-container .play-btn .icon-wrapper{
    width: 40px;
    height: 40px;
}
.video-container .play-btn .icon-wrapper .play-icon{
    width: 25px;
    height: 25px;
    color: #fff;
    border-radius: 50%;
    background-color: #fa6317;
    font-size: 10px;
}

.video-footnote{
    gap: 8px;
}

.video-footnote .icon-wrapper{
    width: 24px;
    height: 24px;
}
.video-footnote .icon-wrapper .icon{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    color: #fff;
    background-color: #898b90;
    font-size: 8px;
}

.video-footnote p {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.09px;
}

/* analytics section */

.analytics-section .head-content{
    max-width: 656px;
    width: 100%;
}

.analytics-section .checkpoints p{
    font-size: 16px;
    line-height: 32px;
}

.analytics-section .background-big-image{
    top: 0;
    max-width: 1440px;
    left: 50%;
    transform: translateX(-50%);
    height: 721px;
    width: 100%;
    z-index: -10;
}

.analytics-section .foot-content{
    width: 1072px;
    overflow: hidden;
    border-radius: 24px;
}

.analytics-section .foot-content .content-wrapper{
    z-index: 1;
}

.analytics-section .foot-content .card{
    padding: 72px;
    height: min-content;
    box-shadow: none;
}

.analytics-section .foot-content .btn{
    gap: 4px;
}

.analytics-section .foot-content .card .heading{
    font-size: 4rem;
    line-height: 48px;
}

.analytics-section .foot-content .background-image{
    height: max-content;
    overflow: hidden;
    z-index: 0;
    border-radius: inherit;
}

.analytics-section .image-wrap{
    padding-left: 80px;
    z-index: 1;
}

.analytics-section .frames {
    position: absolute;
    width: 304px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s all ease-in-out;
    z-index: 1;
}

.analytics-section .frames#frame-2{
    z-index: 2;
    left: 336px;
}

.analytics-section .frames#frame-3{
    z-index: 3;
    left: 672px;
}

.analytics-section .foot-feature-detail .scroll-bar{
    height: 4px;
    background-color: rgb(232, 227, 215);
}

.foot-feature-detail .scroll-bar .scroller{
    height: inherit;
    background-color: rgba(250, 99, 23, 1);
    translate: 0%;
    transition: all 0.5s ease-in-out;
}

.foot-feature-detail .detail-content{
    cursor: pointer;
}

.foot-feature-detail .detail-content .title{
    font-size: 2.4rem;
    line-height: 32px;
    letter-spacing: -0.47px;
}


/* Features section */
.features-section{
    padding: 96px 24px;
}

.features-section .left-section .content-wrapper{
    max-width: 488px;
}

.features-section .right-section-wrapper {
    height: 308px;
    border-radius: 20px;
    background-color: #fff;
    width: 100%
}

.stats-container .stats-wrapper{
    padding: 36px;
    border-radius: 12px;
    background-color: rgb(248, 246, 242);
    flex: 1 0 0px;
}

.stats-container .stats-wrapper p{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.feature-container .feature .title{
    font-size: 1.8rem;
    line-height: 21.6px;
    letter-spacing: -0.26px;
}

.feature-container .feature .description{
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: -0.09px;
    font-weight: 400;
}

.feature-container .feature-svg{
    width: 48px;
    height: 48px;
}

/* Review section */

.review-section{
    padding: 96px 0px;
    overflow: hidden;
}

.review-section .container{
    width: 1056px;
    padding: 0px 24px;
}

.review-section .heading{
    flex: 1;
}

.review-section .foot .outer-image-wrapper {
    background: none;
    width: 148px;
    height: 72px;
    padding: 0px;
    flex: none;
}

.review-section .foot .outer-image-wrapper .inner-image-wrapper{
    width: fit-content;
    height: fit-content;
}

.review-section .logo-image-wrapper{
    width: 168px;
    height: min-content;
    display: flex;
}

.stars .star{
    width: 24px;
    height: 24px;
    display: flex;
}

.marquee {
    display: flex;
    /* overflow: hidden; */
    gap: 32px;
    /* whatever you want but match it */
    position: relative;
    user-select: none;
}

.marquee-content {
    flex-shrink: 0;
    display: flex;
    gap: 32px;
}

.marquee-content p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.09px;
}

.marquee-content-box{
    background-color: #fff;
    padding: 24px;
    width: 312px;
}

.line{
    height: 1px;
    background-color: rgb(234, 234, 235);
    width: 100%;
}

.marquee-content-box .reviewer-name p{
    font-weight: 500;
    color: rgb(5, 5, 5);
}

.marquee-content-box .reviewer-designation p{
    color: rgba(5, 5, 5, 0.48);
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 32px)); /* match 1 rem to gap above */
  }
}

.scroll {
  animation: scroll 10s linear infinite;
}


/* Form Section */
.form-section{
    padding: 120px 24px;
}

.form-section .container{
    max-width: 816px;
    height: min-content;
}

.block-group{
    flex: none;
    width: 1344px;
}

.block-group .block{
    width: 376px;
    height: min-content;
    display: flex;
}

.block-group .block#block1{
    padding: 25px 52px 0px 0px;
}

.block-group .block#block1 .icon, .block-group .block#block3 .icon{
    border-top-left-radius: 12px;
}

.block-group .block#block2{
    padding: 25px 0px 0px 52px;
}

.block-group .block#block2 .icon, .block-group .block#block4 .icon{
    border-top-right-radius: 12px;
}

.block-group .block#block3{
    padding: 0px 52px 25px 0px;
}

.block-group .block#block4{
    padding: 0px 0px 25px 52px;
}

.block-group .pattern{
    position: absolute;
    top: 0;
    left: 0;
}

.block-group .icon{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 246, 242);
    border-radius: 4px;
    box-shadow: rgb(5, 5, 5) 0px 2px 0px 0px;
}

.block-group .icon-wrapper{
    width: 32px;
    height: 32px;
}

.form-section .form{
    width: 540px;
}

.form-section .form form{
    max-width: 448px;
    width: 100%;
}

.form-section .form h3 {
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.89px;
    text-align: center;
}

.form input{
    flex: 1;
}

.form input,.form button {
    font-size: 14px;
    line-height: 24px;
    padding:16px 24px;
    border-radius: 32px;
}

/* Testimonials Section */

.testimonials-section{
    height: min-content;
    overflow: hidden;
}

.testimonials-section .container{
    max-width: 900px;
}

.testimonials-section .background-image{
    z-index: -1;
}

.testimonials-section .testimonial-container{
    padding: 40px;
    border: 2px solid rgb(5, 5, 5);
    border-radius: 24px;
    box-shadow: rgb(5, 5, 5) 0px 4px 0px 0px;
    font-size: 20px;
    background: #fff;
}
.testimonial-container p{
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -0.33px;
}

.testimonial-container .carousel-control-container{
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
}

.testimonial-container .carousel-control{
    position: unset;
    opacity: 1;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: rgb(248, 246, 242);
}

.testimonial-container .carousel-control-icon{
    background: none;
    color: black;
    font-size: 24px;
    z-index: 1;
}

.avatar{
    width: 108px;
    height: 108px;
    border-radius: 50%;
    background: #fff;
    z-index: 1;
}

.avatar-info{
    padding-left: 6px;
}

.avatar-name{
    background-color: #050505;
    padding: 4px 12px;
    border-radius: 6px;

}

.avatar-name p{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: -0.01px;
}

.avatar-info .triangle{
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: #050505;
}

.testimonial-container .foot .designation p{
    color: #fa6317;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: -0.18px;
}

/* Footer Section */

.footer-section{
    padding: 112px 24px 64px;
}

.footer-section .head .left{
    max-width: 384px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-section .logo{
    display: block;
    width: 158px;
    height: 40px;
}

.footer-section p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.09px;
}

.footer-section .middle .left{
    display: flex;
    flex: 1;
}

.footer-section .social-icons{
    width: 40px;
    height: 40px;
    padding: 8px;
}

.social-icons .icon-wrapper{
    width: 24px;
    height: 24px;
}

.footer-section .custom-border{
    border-radius: 6px;
}

.footer-section .foot p > span {
    font-weight: 500;
}

.footer-section .links{
    flex: 1;
}

.footer-section ul li:first-of-type{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-section ul li a{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.09px;
}

.footer-section .middle .right{
    width: 416px;
}

.footer-section .form p{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-transform: uppercase;
}

.footer-section form{
    width: 100%;
    flex: 1;
    max-width: none;
}

.footer-section form input {
    padding-right: 152px;
}

.footer-section form .form-btn{
    padding-block: 0px;
    line-height: 24px;
    border: none;
    box-shadow: none;
    top: 4px;
    right: 4px;
    bottom: 4px;
}

/* Product page css */




@media (min-width : 1200px) {

    .navbar-section {
        position: absolute;
        width: 100%;
        top: .8rem;
    }

    .full-width{
        width: fit-content;
    }

    .navbar-section .menu{
        gap: 1.2rem;
        margin: 0;
        width: fit-content;
        overflow: visible;  
    }

    /* hero section */

    .hero-section{
        padding: 192px 24px 112px;
    }

    .hero-section .hero-content-header h1{
        font-size: 6.4rem;
    }

    .hero-section .hero-content-header .rotate-pattern{
        left: 388px;
    }
}

@media (min-width : 992px){
    .hero-section .hero-left-subsection{
        gap: 104px;
    }
}